VITE_API_BASE_URL=http://localhost:3001/api

VITE_TWITTER_CLIENT_ID=
VITE_TWITTER_REDIRECT_URI=http://localhost:5173/auth/x/callback

VITE_DISCORD_CLIENT_ID=
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/auth/discord/callback
